section.memos-desk {
  width: 100%;
}

section.memos-desk > div.cols-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  gap: 1rem;
  width: 100%;
}

section.memos-desk > div.cols-container  > section.col {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 2rem 0;
  width: max-content;
}

section.memos-desk > div.cols-container  > span.no-memos {
  font-style: italic;
  font-size: var(--font-lg);
  line-height: var(--font-lg);
  margin-top: 1rem;
}