span.memo {
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  min-height: 15rem;
  max-height: 23.5rem;
  margin-bottom: 1rem;
  width: 20rem;
  border-radius: var(--border-rd-lg);
  background-color: var(--background);
  outline: solid transparent 1px;
  transition: outline 0.25s;
}

span.memo:hover {
  outline: solid var(--primary) 1px;
}