nav.navbar {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 4rem;
}

nav.navbar > * {
  box-sizing: border-box;
}

nav.navbar > h1 {
  cursor: pointer;
  margin: 0;
  padding: 0 1.5rem;
  height: 4rem;
  line-height: 4rem;
  background-color: var(--accent);
  border-bottom-right-radius: 8px;
}

nav.navbar > section.navbar-section {
  padding: 0 1rem;
}

nav.navbar > section.navbar-section > span.icon {
  cursor: pointer;
  margin: 0.2rem;
  padding: 0.3rem;
}

#tabSpacer {
  width: 1px;
  height: 50%;
  background-color: var(--primary);
}
